h1 {
    color: red;
    text-align: center;
}
a {
    color: red;
    text-decoration: none;
}
.abc {
    text-decoration:underline;
}
.bold {
    font-weight:900;
}
.italic {
    font-style: italic
}
p {
font-size:x-large;
}