* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #fff;
  color: #1c1e21;
  line-height: 1.34;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.table-custom {
  border-collapse: collapse;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.table-custom caption {
  margin: 20px;
  text-transform: uppercase;
  font-weight: bold;
}
.table-custom .t-head th,
.table-custom .t-body td {
  padding: 20px;
}
.table-custom tr {
  border: 1px solid #ccc;
  text-align: left;
}
.table-custom .t-body tr:nth-child(2n+1) {
  background-color: #f2f2f2;
}
.table-custom .btn-detail {
  padding: 7px 10px;
  background-color: blue;
  border: 1px solid #ccc;
  border-radius: 2px;
  text-transform: uppercase;
  color: #f1f1f1;
  cursor: pointer;
  font-size: 14px;
  font-family: "Lucida Sans";
}

.info {
  display: flex;
  align-items: center;
}
.info .thumb {
  width: 30px;
  height: 30px;
  vertical-align: middle;
}
.info .thumb img {
  border-radius: 70%;
  height: 30px;
  width: 30px;
}
.info .name {
  margin-left: 15px;
}